*{
    margin:0;
    padding:0;

}
.nav
{
    width:100%;
    height:10vh;
    /* border:1px solid; */
display:flex;
justify-content: end;
}
.nav img
{
   margin-top:10px; 
   margin-left:50px;
}
.nav ul
{
list-style:none;
display: flex;
justify-content: end;
padding-top:30px;
padding-left:60px;
margin-left:380px;
}
.nav ul li
{
    margin-left:20px;
    font-family: 'Open Sans', sans-serif;
}

.second
{
    width:100%;
    height:100vh;
  background:whitesmoke;
    padding:1px;
    position: relative;

}
.second h3{
    margin-top:80px;
    margin-left:80px;
    font-weight:normal;
}
.second h1
{
   
margin-top:50px;
margin-left:80px;
font-size:45px;

}
.second p
{
color:grey;
margin-left:80px ;
margin-top:50px;
}
#btn-1
{
background:rgb(25, 153, 233);
font-size: 12px;
text-transform: uppercase;
line-height:40px;
width:150px;;
margin-top: 25px;
color:white;
font-family: 'Open Sans', sans-serif;
margin-left:80px;
}
.second img
{
position: absolute;
right:180px;
top:0;
}
.third
{
    width:100%;
    height:80vh;
    /* border:1px solid; */
    padding:1px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

   
}
.third img
{
    margin-top:20px;
    margin-left:50px;
    width:480px;
    height:400px;
}
.para
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.para h3
{
    font-weight: normal;
 
}
.para h1
{
margin-top:20px;
}
.para p
{
    margin-top:40px;
    font-family: 'Open Sans', sans-serif;
    color:grey;
}
#btn-2
{
background:rgb(25, 153, 233);
font-size: 12px;
text-transform: uppercase;
line-height:40px;
width:150px;;
margin-top: 25px;
color:white;
font-family: 'Open Sans', sans-serif;

}
.four
{
    width:100%;
    height:100vh;
    /* border:1px solid; */
   
 
}
.four h1
{
   text-align:center;

}
.four p
{
    text-align:center;
color:grey;
margin-top:20px;
font-size:15px;
}
.box1
{
    display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-around ;
height:70%;
margin-top:20px;

}
.box
{
    width:400px;
    height:200px;
    border:1px solid silver;
display: flex;
justify-content: center;
flex-direction: column;
align-items:center ;
box-shadow:2px 2px 2px 2px silver;

}
.box i
{
color:grey;
font-size:40px;
}
.box h2
{
    font-family: 'Open Sans', sans-serif;
   

}
.five
{
    width:100%;
    height:30vh;
    background:lightskyblue;
    padding:1px;
    
    
    color:white;
}
.five1
{
    
    
    height:30vh;
    width:80%;
    display: flex;
    flex-wrap:wrap;
    margin-left:10%;
    justify-content: space-between;

    align-items: center;
    
}
.five1 h2
{
    font-size:40px;
}
.five1 p
{
    font-size:20px;
}

.c1
{
    text-align: center;
}
.six 
{
    border:1px;
    width:100%;
    height:140vh;
    padding:1px;
}
.six h1
{
margin-top:20px;
text-align: center;
}
.six p
{
    margin-top: 10px;
    text-align: center;
}
.c4
{
margin-left:50px;
}
.c2
{
   
     margin-top:40px;
     display:inline-block;
     /* border:1px solid; */
     display: inline-block;
     height:55vh;
     text-align: center;
     margin-left: 80px;
}
.c2 img
{
    width:300px ;
    height:300px;  
}
.c2 p
{
    color:grey;
}
.c3
{
    width:100%;
   
    margin-left:50px;
}
.seven
{
    width:100%;
    height:80vh;
    background:whitesmoke;
    padding:1px;

}
.seven h1
{
    text-align: center;
    margin-top:100px;
}
.seven p
{
    color:grey;
    margin-top:10px;
    text-align: center;
}
.seven1
{
    width:49%;
    height:30vh;
    /* border:1px solid; */
   
   display: inline-block;
margin-top:50px;
}
.seven1 img
{
    border-radius: 50%;
  
}
.seven1 p
{
    text-align: center;
    color:silver;
    margin-top:-100px;
    margin-left:40px;
}
.seven h4
{
    margin-left:130px;
    margin-top:40px;
}
.seven h6
{
    color:silver;
    margin-left:130px;
    margin-top:10px;
}
.eight
{
    width:100%;
    height:100vh;
    border:1px solid;
    text-align:center;
    display:flex;
    flex-direction: column;


}
.eight p
{
  
    color:grey;

}
.div
{
    width:300px;
    height:500px;
    background:lightblue;
    display:inline-block;
   margin-left:100px;
   margin-top:100px;

}
.div2
{
    width:130px;
    height:130px;
    background:lightcyan;
    border-radius:50%;
    margin-left:80px;
    margin-top:30px;
    padding:1px;
}
.div3{
    width:80px;
    height:80px;
    background:rgb(195, 224, 241);
border-radius:50%;
margin-left:25px;
margin-top:25px;  
text-align:center;
font-size:35px;
padding:1px;

}
.div3 h3
{
    font-size:30px;
margin-top:15px;
font-family: 'Open Sans', sans-serif;
}
.div h4
{
    font-family: 'Open Sans', sans-serif;
   margin-top:60px;
   margin-left:-5px;
   font-size:20px;
}
@media screen and (max-width:350px){
    body{
 
     display:flex;
     align-items:center;
     flex-direction:column;

    }
 
 .nav{
        
        width:50%;
        display:flex;
        justify-content:start;
        flex-direction:column;
        height:50vh;
       
      
     }
     .nav ul  {
         display:flex;
         flex-direction:column;
 margin-left:5px;
 width:100%;
 justify-content:center ;
}

.second
{
    width:80%;
    display:flex;
    justify-content:flex-start;

    flex-direction:column;
    height:105vh;
}
.second h1
{
margin-left:50px;
font-size:40px;
}
.second p
{
margin-left:20px;
}
#btn-1
{
margin-left:50px;
}
.second img
{
width:200px;
height:200px;
position: relative;
top:10px;
left:50px;
}
.third
{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;  
    text-align: center;
 
}
.third img
{
    
    margin-left:20px;
    width:300px;
    height:250px;
}
.para
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.para h3
{
    font-weight: normal;
    
}
.para h1
{
    font-size:25px;
}
.para p
{
    margin-top:40px;
    font-family: 'Open Sans', sans-serif;
    color:grey;
    font-size:10px;
}
#btn-2
{
    margin-left:80px;
}
.four
{
    width:100%;
    height:220vh;
    /* border:1px solid; */
   
 
}
.four h1
{
   text-align:center;
   font-size:20px;
margin-top:20px;

}
.four p
{
    text-align:center;
color:grey;
margin-top:20px;
font-size:12px;
}
.box1
{
    display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-around ;
height:70%;
margin-top:20px;

}
.box
{
    width:250px;
    height:150px;
    border:1px solid silver;
display: flex;
justify-content: center;
flex-direction: column;
align-items:center ;
box-shadow:2px 2px 2px 2px silver;

}
.box i
{
font-size:30px;
margin-left:220px;

width:100%;
height:30vh;
}
.box h2
{
    font-family: 'Open Sans', sans-serif;
   margin-top:-50px;

}
.five
{
    width:80%;
    height:50vh;
    background:lightskyblue;
    padding:1px;
    margin-top:-200px;
    color:white;
}
.five1
{
    
    
    height:30vh;
    width:80%;
    display: flex;
    flex-wrap:wrap;
    margin-left:10%;
    justify-content: space-between;

    align-items: center;
    
}
.five1 h2
{
    font-size:40px;
}
.five1 p
{
    font-size:20px;
    margin-left:40px;
}

.c1
{
    text-align: center;
}